# Python
__pycache__/
*.py[cod]
.env
venv/
.venv/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
frontend/build/
frontend/.dart_tool/

# Android
*.keystore
*.jks
local.properties

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
